<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <!-- 编码过滤器 -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
     <init-param>  
   <param-name>encoding</param-name>  
   <param-value>UTF-8</param-value>  
   </init-param> 
    </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>
  <!-- 敏感页面访问过滤器-->
  <filter>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/jsp/*</url-pattern>
   </filter-mapping> 
    
    <error-page>
    <error-code>500</error-code>
    <location>/jsp/common/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/common/404.jsp</location>
  </error-page>
    
    
    
    
  
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/applicationContext*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>/signin.jsp</welcome-file>
  </welcome-file-list>
</web-app>