.login {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: top;
	overflow: hidden;
	z-index: -1;
	font-family: Microsoft yahei;
}
.navbar{
	background-color: #fbfbfb;
	border-bottom: 1px solid #ddd;
}
.navbar-brand {
	padding-left: 170px;
	line-height: 30px;
	font-size: 18px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 0 bottom;
	color: #333;
}
.navbar-brand:hover {
	color: #333;
}
.navbar-brand span {
	font-size: 18px;
	color: #ddd;
	margin: auto 10px auto 0px;
}
.navbar-nav>li>a {
	line-height: 30px;
	color: #666;
	font-size: 14px;
}
.nav>li>a:focus, .nav>li>a:hover
{
	text-decoration: none;
	color: #32a5e7;
	background-color: #fbfbfb;
}
.login-body {
	width: 780px;
	height: auto;
	padding-top: 50px;
	margin: auto;
}
.login-right {
	width: 310px;
	margin-top: 21px;
	padding: 25px 30px;
	border: 1px solid #ddd;
	border-top: 2px solid #00bbee;
}
.login-left {
	width: 320px;
	height: 320px;
	margin-right: 150px;
}
.avatar {
	text-align: left;
	margin-bottom: 25px;
	border-bottom: 1px solid #ddd;
}
.avatar h4 {
	margin-top: 0;
	margin-bottom: 15px;
	color: #666;
}
.form-checkbox {
	color: #999;
	font-size: 12px;
}
.btn{
	display: inline-block;
	width: 100%;
	border-radius: 0;
	font-size: 14px;
	font-weight: bold;
}
.btn-login {
	float: left;
	background-color: #00bbee;
	color: #fff;
}
.btn.btn-login:hover, .btn.btn-login:focus {
    color: #fff;
    background-color: #00aaee;
}
.btn-try {
	float: left;
	background-color:  #fff;
	color:  #333;
	border-color:#ddd;
	margin-top:15px;
	font-weight: normal;
}
.login-bottom {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	line-height: 60px;
	background: #fff;
	border-top: 1px solid #ddd;
	color: #999;
	font-size: 12px;
	text-align: center;
}
.form-forget {
	float: right;
	font-size: 12px;
	color: #00c;
}
.quickdelete{
	width:34px;
	height:34px;
	background:url(../images/quickdelete.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	position: absolute;
	top: -4px;
	right: 1px;
	display: block;
}
.quickdelete-wrap{
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #ddd;;
	width: 248px;
	height:34px;
	margin-right: 0;
	overflow: hidden;
}
.form-control, .ue-form, .qd_ipt{
	width: 214px; 
	border-width: 0px;
	padding-right: 0px;
}
.quickdelete-wrap:focus, .quickdelete-wrap:hover{
	border-color: #3e99ff;
	box-shadow: none;
}
.error-hints{
	display: none;
	margin-bottom: 15px;
	border: 1px;
	border-color: #ff8e8e;
	border-style: solid;
	width: 248x;
	background-color: #fff2f2;
	height: 30px;
}
.error-hints>img{
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 8px;
	margin-right: 5px;
}
.error-hints>p{
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}
a{
	color: #08c;
}
.ue-form:focus, .ue-form:hover{
	-webkit-box-shadow:none;
	box-shadow:none;
}