<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    	 http://www.springframework.org/schema/beans/spring-beans.xsd
     	 http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
     	 http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="perDao" class="dao.per_dao.PerEntityDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="docDao" class="dao.doc_dao.DocDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="subDao" class="dao.doc_dao.SubDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="createDoc" class="dao.doc_dao.CreateDoc">
	</bean>
	
	<bean id="superDao" class="dao.SuperDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
</beans>     










